<!--HTML-->
<html>
    <head>
        {% load static %}
        <link href="{% static 'website/style.css' %}" rel="stylesheet">
        <title>Toby Bonicci's boombox</title>
    </head>

    <body>
        <nav class="topnav">
            <a href="/">Home</a>
            <a href="/bot">Bot</a> 
            <a class="active" href="/commands">Commands</a>
            <a href="/donate">Donate</a>
          </nav>
    </body>
    <div class="maintext" style="text-align: center">
        <pre style="text-align: center">
            <h2>Toby Bonnici's Boombox commands:</h2>
            <hr>

            !about - shows info about the bot

            !ping - checks the bot's latency

            !settings - shows the bots settings

            <h3><strong>Music:</strong></h3>

            !lyrics [song name] - shows the lyrics of a song

            !nowplaying - shows the song that is currently playing

            !play <title|URL|subcommand> - plays the provided song

            !playlists - shows the available playlists

            !queue [pagenum] - shows the current queue
            
            !remove <position|ALL> - removes a song from the queue

            !search <query> - searches Youtube for a provided query

            !scsearch <query> - searches Soundcloud for a provided query

            !shuffle - shuffles songs you have added

            !skip - votes to skip the current song

            <h3><strong>DJ:</strong></h3>

            !forceremove <user> - removes all entries by a user from the queue

            !forceskip - skips the current song

            !movetrack <from> <to> - move a track in the current queue to a different position

            !pause - pauses the current song

            !playnext <title|URL> - plays a single song next

            !repeat [off|all|single] - re-adds music to the queue when finished

            !skipto <position> - skips to the specified song

            !stop - stops the current song and clears the queue

            !volume [0-150] - sets or shows volume

            <h3><strong>Admin::</strong></h3>

            !prefix <prefix|NONE> - sets a server-specific prefix

            !setdj <rolename|NONE> - sets the DJ role for certain music commands

            !settc <channel|NONE> - sets the text channel for music commands

            !setvc <channel|NONE> - sets the voice channel for playing music


            <h3><strong>Owner:</strong></h3>

            !autoplaylist <name|NONE> - sets the default playlist for the server

            !debug - shows debug info

            !playlist <append|delete|make|setdefault> - playlist management

            !setavatar <url> - sets the avatar of the bot

            !setgame [action] [game] - sets the game the bot is playing

            !setname <name> - sets the name of the bot

            !setstatus <status> - sets the status the bot displays

            !shutdown - safely shuts down
        </pre>
    </div>
</html>