<!--HTML-->
<html>
    <head>
        {% load static %}
        <link href="{% static 'website/style.css' %}" rel="stylesheet">
        <title>Toby Bonicci's boombox</title>
    </head>

    <body>
        <nav class="topnav">
            <a href="/">Home</a>
            <a href="/bot">Bot</a> 
            <a class="active" href="/commands">Commands</a>
            <a href="/">Donate</a>
          </nav>
    </body>
    <div class="maintext">
        <p>
            commands
        </p>
    </div>
</html>