<!--DQW5M6M2wBZvLu3jw5B4LkSTwTyT5MSKEJ-->

<!--Javascript-->



<!--HTML-->
<html>
    <head>
        {% load static %}
        <link href="{% static 'website/style.css' %}" rel="stylesheet">
        <title>Toby Bonicci's boombox</title>
    </head>

    <body>
        <nav class="topnav">
            <a href="/">Home</a>
            <a class="active" href="/bot">Bot</a> 
            <a href="/commands">Commands</a>
            <a href="/donate">Donate</a>
          </nav>
    </body>
    <div class="maintext">
        <pre>
        <strong>Send Dogecoin here:</strong> DQW5M6M2wBZvLu3jw5B4LkSTwTyT5MSKEJ


        <strong>Send Bitcoin here:</strong> 1LYwC9h6gqPT1gDW7WEXsy7ZfjCNKKNxkH
 

        if you use and enjoy our bot please consider donating some crypto to 
        our address. any donation helps, thanks for using our bot; we hope you
        enjoy the vibes. 
        </pre>
    </div>
</html>