

<!--HTML-->
<html>
    <head>
        {% load static %}
        <link href="{% static 'website/style.css' %}" rel="stylesheet">
        <title>Toby Bonicci's boombox</title>
    </head>

    <body>
        <nav class="topnav">
            <a href="/">Home</a>
            <a href="/bot">Bot</a> 
            <a href="/commands">Commands</a>
            <a href="/">Donate</a>
            <a class="active" href="/test">Test</a>
          </nav>
    </body>
    <div class="maintext">
        <p>you found the secret page</p>
        <p class="hidden">FTB</p>
        <p>Congratulations</p>
    </div>
    <div class="loader"></div>
    <div class="maintext">
        <p>more is coming!</p>
    </div>
</html>